<div class="container-fluid">
	<div class="row listing-pic">
		
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
				  <!--  -->

				  <!-- Wrapper for slides -->
				  <div class="carousel-inner" role="listbox">

				 
				    <div class="item active">
				    <% if !@list.images.empty? %>	
				     <%=  image_tag @list.images[0].url %>
				    <%end%>
				    </div>
 					<% if !@list.images.empty? %>
				     <%@list.images[1..-1].each do |picture| %>
				    	<div class="item">
				    		<%= image_tag picture.url %>
				    	</div>
				    <%end%>
				    <%end%>
				  </div>

				  <!-- Controls -->
				  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
				    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				    <span class="sr-only">Previous</span>
				  </a>
				  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
				    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				    <span class="sr-only">Next</span>
				  </a>
				</div>

		
	</div>

	
		


	
	<div class="after-header container">
		<div class="row">
			
			<div class="col-md-4">
				<div class="list-avatar">
	                  <%=image_tag @user.avatar.medium_thumb.url %>
	             </div>
			</div>
			<div class="col-md-4">
				<P>Home Type: <%=@list.home_type %></P>
				<P>Room Type: <%=@list.room_type %></P>
				<p>				<%if signed_in?%>
									<%if current_user.id == @list.user_id %>
										<%= link_to 'Edit', [:edit, @list] %>
										<%= link_to 'Delete', list_path(@list), method: :delete, data: { confirm: 'Are you sure?' }%>
									<%end%>
								<%end%></p>
			</div>
			<div class="col-md-4">
				<div class="booking-panel panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title">RM <%=@list.rental %>  per night</h3>
				  </div>
				  <div class="panel-body">

				  <form action="/lists/<%=@list.id%>/reservations/new" method="get">
				  	<input name="start_date" type="text" class="form-control" data-provide="datepicker" data-date-format="yyyy-mm-dd" data-date-start-date="<%=@list.start_avail%>" data-date-end-date="<%=@list.end_avail%>"> <br><br>
				  	<input name="end_date" type="text" class="form-control" data-provide="datepicker" data-date-format="yyyy-mm-dd" data-date-start-date="<%=@list.start_avail%>" data-date-end-date="<%=@list.end_avail%>">

				  	<button class="btn btn-default" type="submit">next</button>

				  </form>

				 
				   
				  </div>
				</div>

			</div>
		</div>

	</div>
	
</div>


