<div class="container">
	<div class="row"><%=notice%></div>
	<div class="row">

		

		  <!-- Nav tabs -->
		  <ul class="nav nav-tabs nav-stacked col-md-4" role="tablist">
		  	<li>
		  		<div class="user-avatar">
						<%=image_tag @user.avatar.thumb.url%>

				</div>
		  	</li>
		    <li role="presentation" class="active"><a href="#reservations" aria-controls="reservations" role="tab" data-toggle="tab">Reservations</a></li>
		    <li role="presentation"><a href="#listings" aria-controls="listings" role="tab" data-toggle="tab">Listings</a></li>
		    
		  </ul>

		  <!-- Tab panes -->
		  <div class="tab-content">
		    
		   
		    <div role="tabpanel" class="tab-pane active" id="reservations">
		    	
			    	<div class="col-md-8">
			    		<h2>Reservations</h2>
						<%number = 1 %>
							<%@reservations.each do |item|%>
							
								<div class="panel panel-default ">
									<div class="panel-body">
										<div class="row">
											<div class="col-xs-2">
												<%=number%>
											</div>
											<div class="col-xs-7">
												From: <%=item.start_book%> To: <%=item.end_book%>     |   Room type: <%=item.list.room_type %>  |  Total days: <%=(item.end_book.to_date - item.start_book.to_date).to_i%> | Total amount: RM<%=item.total%>
											</div>
											<div class="col-xs-3">
												<%if item.status == "authorized"%>
													<%= link_to "Show Reciept", class: "btn btn-default" %>
												<%else%>
												<%= link_to "Make Payment", list_reservation_path(item.list.id, item.id), class: "btn btn-default" %>

												<%end%>
											</div>
										</div>
										
									</div>
								</div>
									
							<%number += 1%>	
							<%end%>
			    		
			    	</div>
		    	
		    		
		    	
		    	
		    </div>
		    <div role="tabpanel" class="tab-pane" id="listings">
		    	<div class="col-md-8">
			    		<h2>Listings</h2>
						<%number = 1 %>
							<%@lists.each do |item|%>
							
								<div class="panel panel-default ">
									<div class="panel-body">
										<div class="row">
											<div class="col-xs-2">
												<%=number%>
											</div>
											<div class="col-xs-10">
												<div class="row">
													<div class="col-xs-7">
														<%=item.home_type %> | <%= link_to "details..", list_path(item.id) %>
													</div>
													<div class="col-xs-5">
														<%if item.reservations.empty? %>
															No reservation available
														<%else%>
														<%= link_to "Show reservations", list_reservations_path(item.id)%>
														<%end%>
													</div>
												</div>
												 
											</div>
										</div>
										
									</div>
								</div>
									
							<%number += 1%>	
							<%end%>
			    		
			    	</div>

		    </div>
		  </div>

		















	



	</div>


</div>