<h1>Yeay you got recieved a reservation</h1>

<p>
	Below is the details:
</p>

<p>
  Cutomer: <%=@customer.firstname%> <%=@customer.lastname%>
</p>
<p>Total amount: <%=@total%></p>

<p>Listing: <%=@listing_link%></p>
<p>Reservation: <%=@reservation_link%></p>
