<h1>Yeay you got recieved a reservation</h1>

<p>
	Below is the details:
</p>

<p>
  Cutomer: <%=@customer.firstname%> <%=@customer.lastname%>
</p>
<p>Total amount: <%=@total%></p>

<p>Listing: <%= link_to 'Click here', @listing_link %>
<p>Reservation: <%= link_to 'Click here', @reservation_link %>
